<%= render partial: "shared/header" %>
<main>
<% if user_signed_in? %>
  <h1>全てのグループ</h1>
  <% @groups.each do |group| %>
    <%= render partial: "shared/group", locals: { group: group } %>
  <% end %>
  <h1>タスク一覧</h1>
  <% @tasks.each do |task| %>
    <%= render partial: "shared/task", locals: { task: task } %>
  <% end %>
<% end %>
</main>
<%= render partial: "shared/footer" %>