<footer>
  <div class="footer__create_link_box">
    <%= link_to "グループを作成する", new_group_path, class: "footer__create_link" %>
  </div>
  <div class="footer__create_link_box">
    <%= link_to "メッセージ", new_message_path, class: "footer__create_link" %>
  </div>
  <div class="footer__create_link_box">
    <%= link_to "タスクを追加する", new_task_path, class: "footer__create_link" %>
  </div>
</footer>