<% group.tasks.each do |task| %>
  <div class = "task">
    <%= check_box_tag 'finish', task.id, task.finish.present?, {class: "finish_checkbox", data: { task_id: task.id,finish_id: task.finish&.id }} %>
    <%= link_to task.content, task_path(task.id) %>
  </div>
<% end %>